@model IEnumerable<FirstClass.Models.Aluno>

@{
    ViewBag.Title = "Boletim";
}

<div ng-controller="formSimulationController" ng-init="init()">

    <div class="row" style="margin: 10px;">
        <h2 class="col-8">Boletim dos Alunos</h2>
        <button class="btn btn-info col-4" ng-click="gerarProvas()">Simular provas e notas</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Turma
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>Situação</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turma.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Situacao)</td>
                    <td>
                        <span ng-click="pegarProvas(@item.AlunoId)" data-toggle="modal" data-target="#notas" style="cursor: pointer;">
                            <i class="fas fa-user-graduate"></i>
                        </span>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <div class="modal fade" id="notas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Notas das provas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" ng-repeat="prova in provas">
                    <table class="table table-striped">
                        <thead class="text-center">
                            <tr>
                                <th>
                                    {{ prova.materia }}
                                </th>
                            </tr>
                            <tr>
                                <th>1º Prova</th>
                                <th>2º Prova</th>
                                <th>3º Prova</th>
                                <th>Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ prova.notas[0].Nota }}</td>
                                <td>{{ prova.notas[1].Nota }}</td>
                                <td>{{ prova.notas[2].Nota }}</td>
                                <td>{{ prova.notas[3].Nota }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

</div>
